version: '3'

services:
  proxy:
    build:
      context: .
      dockerfile: proxy/Dockerfile
    env_file: .env
    ports:
      - ${PORT}:${PORT:-8080}
    restart: unless-stopped
#    networks:
#      - shared-network

#networks:
#  shared-network:
#    external:
#      name: custom_network
